<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <div class="main-contents">
        {{>header}}

        <p>Today Weather</p>
        <form>
            <input placeholder="location" class="inputsearch">
            <button class="searchterm">Search</button>
        </form>
        <p class="message-1"></p>
        <p class="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>